#nprogress .bar {
  background: var(--text-color) !important;
}

#nprogress .peg {
  box-shadow: none !important;
}

.logo-line {
  display: none;
}

.menu .menu-item a {
  border-radius: 0px !important;
}

.banner-img {
  max-height: 250px;
  display: flex !important;
  overflow: hidden !important;
  position: relative !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}

.banner-img img {
  margin-bottom: initial !important;
}

.posts-expand.index .post-meta {
  justify-content: left !important;
}

.posts-expand .post-title-link::before {
  transform-origin: left !important;
}

.gt-comments-null {
  display: none;
}

.gt-container .gt-popup {
  background: var(--body-bg-color) !important;
}

.gt-container .gt-btn {
  border: none !important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted var(--link-color) !important;
}

.gt-container .gt-svg svg {
  fill: var(--link-color) !important;
}

.gt-container .gt-svg svg:hover {
  fill: var(--link-hover-color) !important;
}

.gt-container .gt-header-controls .gt-btn {
  background: var(--card-bg-color) !important;
  color: var(--text-color) !important;
}

.gt-container a {
  color: var(--link-color) !important;
}

.gt-container a:hover {
  color: var(--link-hover-color) !important;
}

.gt-container .gt-comment-content {
  background-color: var(--card-bg-color) !important;
  color: var(--text-color) !important;
}

.gt-container .gt-comment-content:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.gt-comment-body.markdown-body p {
  color: var(--text-color) !important;
}

.gt-container .gt-header-preview,
.gt-container .gt-header-textarea {
  background-color: var(--card-bg-color) !important;
  color: var(--text-color) !important;
  border: 0px !important;
}

.gt-container .gt-header-textarea::placeholder {
  color: #a1a1a1 !important;
}

.gt-container .gt-avatar img,
.gt-container .gt-btn,
.gt-container .gt-header-preview {
  border-radius: 0px !important;
}

.gt-container .gt-header-textarea,
.gt-container .gt-header-textarea:hover {
  border-radius: 0px !important;
  background-color: #FFF;
}

.gt-container .gt-popup .gt-action.is--active:before {
  background: var(--text-color) !important;
}